{% extends 'reviews/base.html' %}

{% block title %} Your Review {% endblock %}

{% block content %}
  <form action= "/"method="POST"><!--      How and where the form is submitted-->
      {% csrf_token %}<!--      IMPORTANT TO GENERATE THE TOKEN FOR PROTECTION ANTI-DUPLICATION !!! -->
      {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      {% endfor %}
    <button>Send</button>
  </form>
{% endblock %}